[Unit]
Description=Elmasy server

[Service]
Type=simple
User=elmasy
Group=elmasy
WorkingDirectory=/opt/elmasy
ExecStart=/opt/elmasy/elmasy

[Install]
WantedBy=multi-user.target
